body {
    background-color: rgba(255, 192, 203, 0.336);
}

.search-container {
    text-align: center;

    margin: 50px;
    padding: 30px;
}

/*style.css*/
.container {
  display: flex;  flex-wrap: wrap;  gap: 20px;
}
article {
  border: 1px solid #ccc;  padding: 10px;  width: 200px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px;
    padding: 30px;
}

.repo-container {
    flex-direction: row;
    padding:10px;
    margin: 30px;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 192, 203, 0.178);
}